@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: rgb(28 25 23);
  font-family: regular;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.5rem;
  letter-spacing: 1;
  /* text-shadow: 0 0 1px #ffffff, 0 0 3px #ff0000; */
}

@layer utilities {
  .container {
    @apply max-w-[1440px] w-[90%] mx-auto;
  }

  .bg-color {
    @apply bg-stone-900;
  }

  .link {
    @apply cursor-pointer;
  }

  .neon-lights-red {
    filter: drop-shadow(0 0 2px #ff0000) drop-shadow(0 0 1px red);
  }

  .neon-lights-green {
    filter: drop-shadow(0 0 2px hsl(120, 100%, 10%)) drop-shadow(0 0 1px green);
  }

  .noise {
    position: absolute;
    inset: -200%;
    background-image: url("/white-noise.png");
    opacity: 25%;
    pointer-events: none;
    animation: shift 0.2s linear infinite both;
  }
}

@keyframes shift {
  0% {
    transform: translateX(10%) translateY(10%);
  }
  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}
